<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapy Bot</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <header>
        <h3>Therapy bot</h3>
    </header>
    
    <div class="screen2-div">
        <span class="span2">Hey!  I'm  a</span>
        <span id="rainbow" class="span2">Bot</span>
        <p class="screen1-text">Our conversation is private. Your identity is Anonymous.</p>
        <p class="screen1-text">Just pick your name</p>
        <input class="nickname" type="text" placeholder="Nickname">
    </div>
    <div class="icon">
        <a href="/"><i id="left-arrow" class="fa-solid fa-angle-left"></i> </a>
    </div>
    <div class="icon">
        <a href="/next1"><i id="right-arrow" class="fa-solid fa-angle-right"></i> </a>
    </div>
    
</body>
</html>